body {
    padding-top: 60px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}


/* Trueno font is from the Values Project, but you can change this here. Color is the lighter of the blue pairing from the Values Project PDF. To change, click in the colored box and adjust as you like. If, while messing around, you change it something you hate, the template color is 06455d */

body {
    font-family: 'TruenoRegular';
    font-weight: normal;
    font-style: normal;
    padding: 50px;
    color: #06455d;
}

.col-md {
    padding: 5px;
}


/* These are the "card buttons". You can change any of the colors as you could for the text color in the body element above. Feel free to mess around with the box shadow as well, but current parameters were chosen to indicate that these boxes are buttons and are to be clicked upon! */

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    padding: 25px;
}


/* This is where you can define what happens when the cursor hovers over the card. "Transform" = amount box gets bigger */

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}


/* This is where you can format anything with the h3 label in your HTML document. Currently, the font-weight parameter is set to something just a little more chill than bold. Normal is 400; true bold is 700. */

.card h3 {
    font-weight: 600;
}


/* This defines where and how the icon on the card shows up*/

.card img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}


/* This is where you control what a link on a card would look like.  "text-decoration: none" means that if you add an email or something to the card text, it won't be automatically reformatted. */

.card a:link {
    text-decoration: none;
}


/* If you want to change the icon's size or color, this is the place to do it. */

.card-icon {
    font-size: 5em;
    color: #05688e;
}

.align-left {
    text-align: left;
}

.push-right {
    float: right;
}


/* This is where we define the anchor used to direct the nav bar link to a portion of the page. You probably don't want to fuss with this. */

a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 1em;
}


/* Lora is a Values Project font */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    color: #06455d;
}


/* Here's where you can tweak the look and feel of your links and paragraph text. Currently set to match, but if you want links & body text to be different colors you can define that by splitting up a & p, and setting distinct colors for each. */

a,
p {
    color: #06455d;
}
